{{> layout/header}}

<section>
    <div class="mt-3 mb-3">
        <a href="#" class="btn btn-outline-primary">수정</a>
        <form action="#" method="POST" class="d-inline" enctype="application/x-www-form-urlencoded">
            <button type="submit" class="btn btn-outline-primary">삭제</button>
        </form>

        <div>
            번호 : 1 <br>
            제목 : 제목1 <br>
            내용 : 내용1 <br>
            작성일 : 2025.03.31 <br>
        </div>
    </div>
</section>

</body>
</html>