{{> layout/header}}

<section>
    <table class="table table-bordered mt-5 pt-5" >
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>상세보기</th>
        </tr>
        <tr>
            <td>1</td>
            <td>제목1</td>
            <td>ssar</td>
            <td><a href="#">상세보기</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>제목2</td>
            <td>ssar</td>
            <td><a href="#">상세보기</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>제목3</td>
            <td>ssar</td>
            <td><a href="#">상세보기</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>제목4</td>
            <td>cos</td>
            <td><a href="#">상세보기</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>제목5</td>
            <td>cos</td>
            <td><a href="#">상세보기</a></td>
        </tr>

    </table>
</section>

</body>
</html>