{{> layout/header}}

<section>
    <form action="#" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="title" value="제목1"><br>
        <input type="text" name="content" value="내용1"><br>
        <button type="submit">글수정</button>
    </form>
</section>

</body>
</html>